footer
  .links
    ul
      li
        a(href='#') about us
      li
        a(href='#') blog
      li
        a(href='#') press
      li
        a(href='#') ios app
      li
        a(href='#') android app
    ul
      li
        a(href='https://www.facebook.com/profile.php?id=100010731943696')
          i.fab.fa-facebook-square
      li
        a(href='https://www.facebook.com/profile.php?id=100010731943696')
          i.fab.fa-twitter-square
      li
        a(href='https://www.instagram.com/niti.n_n.itin/')
          i.fab.fa-instagram
      li
        a(href='https://github.com/Nk095291')
          i.fab.fa-github
  p
    | &copy; made with love by nitin kumar
script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js")
script(src='js/demo.js')
