section
  .heading2
    h2.upper_case.title2.ae2 GET FOOD FAST - NOT FAST FOOD
  .div_hr
    hr
  p.passage.passage2
    | Hello, we&rsquo;re Omnifood, your new premium food delivery service. We know you&rsquo;re
    | always busy. No time for cooking.
    | So let us take care of that, we&rsquo;re really good at it, we promise!
  .feature
    .blocks
      i.far.fa-calendar-plus
      h3.upper_case upto 365 days
      p.passage
        | Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage.
        | You can also choose to order more flexibly if that&apos;s your style.
    .blocks
      i.fas.fa-shipping-fast
      h3.upper_case ready in 20 minutes
      p.passage
        | You&apos;re only twenty minutes away from your delicious and super healthy meals delivered right to your
        | home. We work with the best chefs in each town to ensure that you&apos;re 100% happy.
    .blocks
      i.fas.fa-carrot
      h3.upper_case 100% organic
      p.passage
        | All our vegetables are fresh, organic and local. Animals are raised without added hormones or
        | antibiotics. Good for your health, the environment, and it also tastes better!
    .blocks
      i.fas.fa-boxes
      h3.upper_case order anything
      p.passage
        | menu containing over 100 delicious meals. It&apos;s up to you
section.bg1
  .heading2
    h2.upper_case.title2.ae2 how it works - simple as 1,2,3
  .div_hr
    hr
  .how-to
    .iphone.ae
      img(src='img/app-iphone.jpeg')
    .instruct
      .steps
        .step
          .num
            | 1
          p.passage.passage3
            | Choose the subscription plan that best fits your needs and sign up today.
        .step
          .num
            | 2
          p.passage.passage3
            | Order your delicious meal using our mobile app or website. Or you can even call us!
        .step
          .num
            | 3
          p.passage.passage3
            | Enjoy your meal after less than 20 minutes. See you the next time!
  .playstore
    a(href='#')
      img(src='img/download-app-android.jpeg')
    a(href='#')
      img(src='img/download-app.jpeg')
section
  .heading2
    h2.upper_case.title2.ae2 we are currently in these cities
  .div_hr
    hr
  .cities
    .city
      .cityphoto
        img(src='img/architecture-daylight-hand-574324.jpeg')
      h3.upper_case
        | india
      .icons
        .status
          i.far.fa-grin-beam
          p.passage.passage3 1600+ happy eater
        .status
          i.fas.fa-gift
          p.passage.passage3 60+ top chefs
        .status
          i.fab.fa-twitter
          a.passage.passage3(href='#') @Omnifood_in
    .city
      .cityphoto
        img(src='img/london.jpeg')
      h3.upper_case
        | london
      .icons
        .status
          i.far.fa-grin-beam
          p.passage.passage3 3700+ happy eater
        .status
          i.fas.fa-gift
          p.passage.passage3 160+ top chefs
        .status
          i.fab.fa-twitter
          a.passage.passage3(href='#') @Omnifood_ldn
    .city
      .cityphoto
        img(src='img/san francisco.jpeg')
      h3.upper_case
        | san francisco
      .icons
        .status
          i.far.fa-grin-beam
          p.passage.passage3 1600+ happy eater
        .status
          i.fas.fa-gift
          p.passage.passage3 110+ top chefs
        .status
          i.fab.fa-twitter
          a.passage.passage3(href='#') @Omnifood_sf
    .city
      .cityphoto
        img(src='img/dubai.jpeg')
      h3.upper_case
        | dubai
      .icons
        .status
          i.far.fa-grin-beam
          p.passage.passage3 1200+ happy eater
        .status
          i.fas.fa-gift
          p.passage.passage3 50+ top chefs
        .status
          i.fab.fa-twitter
          a.passage.passage3(href='#') @Omnifood_bai
section#review.bg2
  .heading2
    h2.upper_case.title2.ae2 OUR CUSTOMERS CAN&apos;T LIVE WITHOUT US
  .div_hr
    hr
  .users-reviews
    .review
      .review-text.passage
        q
        br
        p
          | mitrooo!!!!mere pyare desh vasiyo!! Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so Omnifood is a
          | life-saver. Now that I got used to it, I couldn&apos;t live without my daily meals!
      .user-img
        img(src='img/user1.jpeg')
        p.passage
          | narendra modi
    .review
      .review-text.passage
        q
        br
        p
          | majaa aaa gaya!! or ye maja me dekh ke har nagrik ko dena chahata hu and it&apos;s true that i can&apos;t live without omifood and pogo....Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so
          | Omnifood is a
          | life-saver. Now that I got used to it, I couldn&apos;t live without my daily meals!
      .user-img
        img(src='img/user2.jpeg')
        p.passage
          | rahul gandhi
    .review
      .review-text.passage
        q
        br
        p
          | manmohan ko yahi ka khana khilati thi ..by god pure 10 saal mu nhi khula usne ,ab aap log samaj hi sakte ho kitna tasty hoga....Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so Omnifood is a
          | life-saver. Now that I got used to it, I couldn&apos;t live without my daily meals!
      .user-img
        img(src='img/user3.jpeg')
        p.passage
          | sonia gandhi
section.bg1
  .heading2
    h2.upper_case.title2.ae2 start eating healthy today
  .div_hr
    hr
  .price-section
    for plan in plans 
      include plan
section.input
  .heading2
    h2.upper_case.title2.ae2 CONTACT US
  .div_hr
    hr
  form
    .entry
      .entry-text
        | Name
      input(type='text' placeholder='Your Name' required='')
    .entry
      .entry-text
        | Email
      input(type='text' placeholder='Your Email Id' required='')
    .entry
      .entry-text
        | How did you find us
      select#howDoYouFindUs(name='')
        option(value='') friends
        option(value='') search
        option(value='') advertisement
        option(value='') other
    .entry
      .entry-text
        | NewsLetters?
      label
        input(type='checkbox')
        | Yes,Please
    .entry
      .entry-text
        | Drop Us a line
      textarea(rows='8' placeholder='your message')
    div
      a.options.signup(id='' href='#') Submit !!