.showcase
  .heading2
    h1
      | SAY GOOD BYE TO JUNK FOOD. 
      br
      |  AND HELLO TO SUPER HEALTHY FOOD.
  div
    a#anchor1.options(href='#')
      p i&apos;m hungry
    a#anchor2.options(href='')
      | show me more
