doctype html
head
    block head
        include header
body
    header
        block header
            include nav
    block content    
        //- place your content here
    block footer
        include footer